html,body { height:100%; }

h1, h2, h3, h4, h5, h6, strong {
  font-family: "soleil", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;

  .wf-loading & {
    visibility: hidden;
  }
}

body, p, ul, li, u, label, .carousel-caption {
  font-family: "soleil", "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;

  .wf-loading & {
    visibility: hidden;
  }
}

p { line-height: 1.6em; }

.red-family {
  color: #DF3225;
  font-family: "refrigerator-deluxe", "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto;
}

#body {
  height: 100%;
  background-size: cover;
}

#footer {
  background-color: #656767;
  color: white;
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: none;
}

.footer-logo {
  padding-bottom: 15px;
}

.fill {
 width: 100%;
 height: 100%;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 padding: 0;  
}

.full-width {
  width: 100%;
}

.no-deco:hover {
  text-decoration: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

u {
  color: #333;
}

.whiten {
  color: rgba(255,250,240, 1)
}

.lighten:hover {
  color: #666;
}

.navbar-nav {
  margin-top: 18px;
}

.navbar-nav > li > a {
  -webkit-transistion: all ease-in-out .7s;
     -moz-transistion: all ease .7s;
       -o-transistion: all ease .7s;
          transistion: all ease-in-out .7s;
  font-family: "refrigerator-deluxe", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: 1px solid white;
  background-color: rgba(255,255,255,0.3);
}

.navbar-default {
  background-color: white;  
}

.navbar-default .navbar-nav > li > a {
  color: #555;
  font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #DF3225;
  font-weight: 400;
}

.navbar-static-top {
  padding: 2% 4%;
}

.navbar-collapse {
  padding-left: 5%;
  padding-right: 5%;
  border: none;
}

.navbar-brand {
  padding: 0px;
  height: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #DF3225;
  background-color: transparent;
}

.header-logo {
  display: block;
}

.footer-text {
  color: white;
  padding: 2%;

  a {
    color: white;
  }

  a:hover {
    color: #DF3225;
  }
}


/*                          */
/*        Carousel          */
/*                          */
.carousel,.item,.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }

    .carousel-control {
      z-index: 2;
    }
  }
}

.carousel-indicators {
  .active {
    background-color: #DF3225;
  }

  li {
    border: none;
    background-color: white;
  }
}

.carousel-control {
  font-size: 30px;
}

.glyphicon-circle-arrow-right, .glyphicon-circle-arrow-left {
  position: absolute;
  top: 47%;
}

.carousel-caption {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  left: 6%;
  right: 5%;
  text-shadow: none;
  bottom: 10%;

  span > p:first-child {
    color: #DF3225;
    margin-bottom: 0px;
  }
}

/*                          */
/*        Jumbotron         */
/*                          */
.jumbotron-section {
  background: url('/images/section-texture.png') no-repeat center center;  
  background-color: #494B4C;
  background-size: cover;
  padding: 5% 8%;

  h2 {
    color: white;
    p {
      font-weight: 300;
      strong {
        font-family: "refrigerator-deluxe", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 40px;
      }
    }
  }

  a {
    h4 {
      color: white;
      font-weight: 300;
      padding-top: 40px;
      padding-bottom: 20px;

      span:hover {
        color: #DF3225;
      }
    }

    h2 {
      font-weight: 100;
      text-decoration: underline;
    }
  }
}

.jumbotron-section-dark {
  background-color: rgba(25, 25, 25, 0.9);
  padding: 8% 8%;

  h2 {
    p {
      font-weight: 100;
      color: rgba(255,250,240, 1);
    }
  }

  a {
    h2 {
      color: rgba(255,250,240, 1);
      font-weight: 100;
      text-decoration: underline;
    }
  }
}

.jumbotron-section-white {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5% 8%;

  h2 {
    p {
      font-weight: 300;
    }
  }
}

.glyphicon-star {
  display: block;
  position: relative;
  font-size: 45px;
  color: #DF3225;
  text-align: center;
  margin-bottom: 30px;
}

.hero-text > p{
  margin-bottom: 0px;
}


/*                          */
/*        Product           */
/*                          */

.product-hero {
  width: 100%;
  height: 60%;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.product-blurb {
  font-size: 20px;
  padding: 4% 6%;
  font-weight: 300;

  p {
    margin-bottom: 0px;
  }
}

.overview-section {  
  border-top: 1px solid #D3D3D3;;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 4%;
  padding-bottom: 6%;
}

.product-images {
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.specsTitle {
  font-size: 14px;
  padding-bottom: 25px;
}

.specs {
    padding-top: 3%;
  
  p {
    line-height: 1em;
  }
}

/*                          */
/*        Thumbnails        */
/*                          */

.thumbnail-section-home {
  padding-bottom: 60px;
}

.textured-bg {  
  background-color: rgba(224,223,219,0.3);;
  background-size: cover;
}

.thumbnail-section {
  background-color: rgba(224, 223, 219, 0.3);
  margin: 0;
  width: 100%;
}

.padded-div {
  padding: 2%;
  margin-top: 20px;
}

.solutions-title {
  color: #555;
  font-size: 25px;
  margin: 0px;
  padding: 20px 0;
}

.thumb-section-text {
  font-family: "refrigerator-deluxe", "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color: #444;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 50px 0;
}

.view-all-text {
  text-decoration: none;
  color: #DF3225;
  font-weight: 300;
  padding-top: 30px;
  margin-bottom: 0px;
  }

#container {
  height: 100%;
  padding: none;
}

.thumbnail-section {
  h2 {
    padding-bottom: 10px;
  }
}

.iso-item {
  float: left;
  padding: 0px;
  height: 240px;
  background: no-repeat;
  background-size: cover;
  background-position: 50% 50%;   
}

.iso-item img {
  width: 100%;
  height: 100%;
}

.halfer {
  height: 67%;
}

.iso-caption {
  width: 100%;
  position: absolute;
  padding-left: 20px;
  text-decoration: none;
  color: white;
}

.iso-caption:hover {
  color: #DF3225;;
}

.iso-caption p:first-child {
  font-family: "refrigerator-deluxe", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  margin-bottom: 3px;
}

.thumb-type {
  position: relative;
  font-size: 18px;
  bottom: 10px;
}

.more-projects {
  font-size: 20px;
  padding: 30px;
  margin: 0px;
}

.view-all {
  color: #555;
}

.view-all:hover {
    color: #DF3225;
  }

/*                          */
/*     Solution Section     */
/*                          */
.solutions-section {
  background-color: #E5E5E5;
}

/*                          */
/*     Services Section     */
/*                          */

.text-overview {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 4%;
  padding-bottom: 4%;

  p {
    margin-left: 0;
    font-size: 12px;
  }
}

.services-list {
  padding-top: 4%;
  padding-right: 5.86%;
  padding-bottom: 4%; 
  padding-left: 5.86%; 
}

.service-image {
  height: 150px;
}

.service-text {
  height: 150px;
  overflow: auto;
  padding: 40px 40px;

  p {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

/*                          */
/*     About Section        */
/*                          */

.two-column {
  -moz-column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
}

.about-overview {
  padding-bottom: 5%;
  padding-top: 5%;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.staff-list {
  padding-top: 7%;
  padding-bottom: 3%;
}

.staff-image {
  height: 150px;
}

.staff-info {
  padding: 8% 1%;
  line-height: 1.2em;

  u {
    color: #333;
  }
}

/*                          */
/*     Contact Section      */
/*                          */

.contact-section {
  padding-left: 6%;
  padding-right: 6%;

  h1 {
    padding-left: 0;
    margin-top: 10px;
  }

  .col-xs-12 {
    padding-left: 0px;
  }
}

.contact-info {
  padding-top: 6%;
  padding-bottom: 6%;  
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.contact-form {
  padding: 4% 6%;
  
  .col-sm-8, .col-md-6 {
    padding-left: 0px;
  } 
}

.my-btn {
  background: #494B4C;
  border-radius: 0;
  color: #f8f8f8;
  padding: 20px 50px;
}

.my-btn:hover {
  color: rgba(255,255,255,0.9);
}

.form-control {
  border: 0px;
  border-bottom: 1px solid #777;
  border-radius: 0px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
}

/*                                                                         */
/* Extra Small Devices (Mobile / Global styles should be above this line.) */
/*                                                                         */
@media (max-width: @screen-xs-max) {
  .navbar-static-top {
    padding: 0% 4%;
  }

  .navbar-collapse {
    background-color: rgba(224, 223, 219, 0.3);
    padding-left: 6%;
    padding-right: 6%;
  }

  .navbar-brand {
    padding: 15px 0px;
    height: auto;
  }

  .navbar-toggle {
    margin-top: 35px;
  }

  .carousel-caption * {
    font-size: 25px;
  }

  .carousel-control {
    font-size: 20px;
  }

  .main-overview {
    font-size: 12px;
  }

  .iso-caption {
    font-size: 20px;
    padding-left: 8%;
  }

  .specsTitle {
    font-size: 14px;
  }

  .specs {
    font-size: 12px;
  }

  #container {
    padding: 0;
  }

  .jumbotron-section {
  padding: 5% 8%;

  h2 {
    p {
      font-size: 12px;
    }
  }

    a {
      h4 {
        font-size: 12px;
      }
      h2 {
        font-size: 12px;
      }
    }
  }

  .jumbotron-section-dark {

    h2 {
      p {
        font-size: 12px;
      }
    }

    a {
      h2 {
        font-size: 12px;
      }
    }
  }

  .jumbotron-section-white {
    h2 {
      p {
        font-size: 12px;
      }
    }
  }

  .about-section {
    padding-right: 12%;
    padding-left: 12%;
    font-size: 12px;
  }

}

/*                                       */
/* Small Devices (Tablets, 768px and up) */
/*                                       */
@media (min-width: @screen-sm-min) {
  
  .carousel-caption * {
    font-size: 30px;
  }

  .product-blurb {
    color: #DF3225;
    font-size: 30px;
  }

  #container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .iso-item {
    height: 180px;
  }

  .iso-caption {
    font-size: 18px;
  }

  .thumbnail-section {
    padding-left: 5%;
    padding-right: 5%;
  }

  .text-overview {
    p {
      font-size: 14px;
    }
  }

  .services-list {
    padding-right: 5.5%;
    padding-left: 5.5%; 
 }

  .service-image {
    height: 200px;
  }

  .service-text {
    height: 200px;
    overflow: hidden;
  }

  .pulling-right {
    float: right;
  }

  .pulling-left {
    float: left;
  }

  .about-section {
    padding-right: 6%;
    padding-left: 6%;
    font-size: 13px;
  }
}



/*                                        */
/* Medium Devices (Laptops, 992px and up) */
/*                                        */
@media (min-width: @screen-md-min) {
  
  .carousel-caption * {
    font-size: 40px;
  }

  .navbar-collapse {
  background-color: transparent;
}

  .product-blurb {
    font-size: 40px;
  }

  .specs {
    padding-top: 0;
  }

  #container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .iso-item {
    height: 210px;
  }
  
  .iso-caption {
    font-size: 20px;
  }

  .text-overview {
    p {
      font-size: 16px;
    }
  }

  .service-image {
    height: 250px;
  }

  .service-text {
    height: 250px;

    p {
      font-size: 14px;
    }
  }

  .about-section {
    padding-right: 5%;
    padding-left: 5%;
    font-size: 15px;
  }

  .staff-image {
    height: 200px;
  }
}

/*                                         */
/* Large Devices (Desktops, 1200px and up) */
/*                                         */
@media (min-width: @screen-lg-min) {
  
  .carousel-caption * {
    font-size: 50px;
  }

  .product-blurb {
    font-size: 50px;
  }

  .halfer {
  height: 70%;
}

  .iso-item {
    height: 240px;
  }

  .iso-caption {    
    font-size: 22px;
  }

  .text-overview {
    p {
      font-size: 18px;
    }
  }

  .staff-image {
    height: 240px;
  }

}




















